<head>
  <title>skilldb</title>
</head>

<body ng-app="skilldb">
  <h2>SkillDB</h2>

<div ng-controller="EmployeeCtrl">
    <table st-table="employees" class="table table-bordered table-striped">
      <tr>
        <th st-sort="firstName"> Name </th>
        <th st-sort="title"> Title </th>
        <th st-sort="location"> Location </th>
      </tr>
      <tr>
        <th colspan="3">
          <input st-search class="input-sm form-control" placeholder="search..." type="search" />
        </th>
      </tr>
      <tr ng-repeat="row in employees">
        <td> {{row.fullName()}}</td>
        <td>
          <a href="#" editable-select="row.title" e-ng-options="s._id as s._id for s in titles">
            {{ row.title }}
          </a>
        </td>
        <td>
          <a href="#" editable-select="row.location" e-ng-options="s._id as s._id for s in locations">
            {{ row.location }}
          </a>
        </td>
      </tr>
    </table>
  <div ng-repeat="section in tableSections">
    <table st-table="section.collection" class="table table-bordered table-striped">
      <tr>
        <th st-sort="_id"> {{section.name}} </th>
      </tr>
      <tr>
        <th>
          <input st-search class="form-control" placeholder="search..." type="search"/>
        </th>
      </tr>
      <tr ng-repeat="row in section.collection">
        <td>
          <a href="#" editable-text="row._id" onbeforesave="ValidateEmpty(row._id, $data, section.name)">
            {{ row._id }}
          </a>
        </td>
      </tr>
    </table>

  </div>
</div>
</body>

