<div ng-controller="EmployeeDetailsCtrl">
<table class="table table-bordered table-striped">
  <tr>
    <th colspan="2">
       {{employee.fullName()}}
    </th>
  </tr>
 <tr>
    <td> Title </td>
    <td>
       <a href="#" buttons="no" editable-select="employee.titleId" e-ng-options="s._id as s._id for s in titles">
        {{ employee.titleId || "none" }}
       </a>
    </td>
  </tr>
 <tr>
    <td> Location </td>
    <td>
      <a href="#" buttons="no" editable-select="row.locationId" e-ng-options="s._id as s._id for s in locations">
        {{ row.locationId || "none" }}
      </a>
    </td>
  </tr>
</table>

<table class="table">
  <tr><td>
  <table  class="table table-bordered table-striped" st-table="refSkills" st-safe-src="skills">
    <tr>
      <th colspan="2">
        All Skills
      </th>
    </tr>
    <tr>
      <th colspan="2">
        <input st-search="" class="form-control" placeholder="search..." type="search"/>
      </th>
    </tr>
    <tr ng-repeat="row in skills">
      <td> {{ row._id }}
        <div class="pull-right">
        <span ng-if="hasSkill(row._id)">
          <button ng-click="removeSkill(row._id)" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-minus"></i>
          </button>
        </span>

        <span ng-if="!hasSkill(row._id)">
          <button ng-click="addSkill(row._id)" class="btn btn-sm btn-success">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </span>
        </div>
      </td>
    </tr>
  </table>

    </td><td>

  <table  class="table table-bordered table-striped" st-table="refEmployeeSkills" st-safe-src="EmployeeSkills">
    <tr>
      <th colspan="2">
        {{employee.firstName}}'s skills
      </th>
    </tr>
    <tr>
      <th colspan="2">
        <input st-search="" class="form-control" placeholder="search..." type="search"/>
      </th>
    </tr>
    <tr ng-repeat="row in EmployeeSkills">
      <td> {{ row.skillId }} </td>

    </tr>
  </table>
    </td></tr>
</table>
</div>
