<div ng-controller="EmployeeDetailsCtrl">
<table class="table table-bordered table-striped">
  <tr>
    <td> Employee </td>
    <td> {{employee.fullName()}} </td>
  </tr>
 <tr>
    <td> Title </td>
    <td>
       <a href="#" buttons="no" editable-select="employee.titleId" e-ng-options="s._id as s._id for s in titles">
        {{ employee.titleId || "none" }}
       </a>
    </td>
  </tr>
 <tr>
    <td> Location </td>
    <td>
      <a href="#" buttons="no" editable-select="row.locationId" e-ng-options="s._id as s._id for s in locations">
        {{ row.locationId || "none" }}
      </a>
    </td>
  </tr>
</table>

<table>
  <tr><td>
  <table  class="table table-bordered table-striped" st-table="refSkills" st-safe-src="skills">
    <tr>
      <th>
        <input st-search="" class="form-control" placeholder="search..." type="search"/>
      </th>
    </tr>
    <tr ng-repeat="row in skills">
      <td> {{ row._id }} </td>
    </tr>
  </table>

    </td><td>

  <table  class="table table-bordered table-striped" st-table="refEmployeeSkills" st-safe-src="EmployeeSkills">
    <tr>
      <th>
        <input st-search="" class="form-control" placeholder="search..." type="search"/>
      </th>
    </tr>
    <tr ng-repeat="row in employee.skills()">
      <td> {{ row._id }} </td>
    </tr>
  </table>
    </td></tr>
</table>
</div>
